.nav {
    background-color: black;
    position: absolute;
width: 1024px;
height: 20px;
left: calc(50% - 1024px/2);
top: 0px;
 color: white;
}

.idioma {
    /* display: inline-block;
    margin-right: 200px; */
    padding-right: 5%
}
.derecha {
    text-align: right;
    margin-right: 15%;
    }
